/* Container of all content */
.container {
margin-left: 40px;
margin-right: 40px;
border: 1px solid;
}

/* Header, Footer, Work */
.row {
  display: flex;
}

/* Header Image - Row */
.col-lg-4 {
  width: 400px;
  height: 300px;
  
}
.col-md-5 {

}

/* Header - Social Media - Row */
.col-lg-8 {
  width: 800px;
}
.col-md-7 {
  
}

/* Home-Resume-Work-Contact-Images - Row */
.col-sm-3 {
  
  }

/* Footer - Row*/
.col-md-6 {

}

/* Work - 8 Images - 2 Rows */
.col-md-3 {
  
}

/* Resume boxes */
.card-deck {
display: flex;
margin: 10px;
}

.card {
  border: 1px solid;
}


/*

Feel free to play with this pre-added styling! 

*/

/* Header Image */
#main-header img {
  width: 100%;
  height: 100%;
}

/* Home/Resume/Work/Contact - Row */
#main-header .port-item {
  width: 30%;
  height: 100px;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Experienced Full Stack Web Dev */
.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
